@import "../../resources/scss/variables";

.running-transaction-popup {
  background: white;
  padding: 16px;

  width: 100%;

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;

  transform: translateY(100%);
  transition: transform 0.2s ease;

  &.open {
    transform: translateY(0);
  }
}
